.selectize-input > input {
    font-size:24px;
}

#headerTable {
    width:100%;
    background: black;
}

#songsTable thead, #songsTable tbody { display: table-row-group; }

#songsTable tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    border: 1px solid #ddd;
}

#songsTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    height: 100%;
    font-size: 18px; /* Increase font-size */
    table-layout: fixed;
}


#songsTable td {
    padding: 12px; /* Add padding */
}

#songsTable tbody tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
    width: 100%;
    display:table;
}

#songsTable tbody tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#songsTable tbody{
    display:block;
    overflow:auto;
    height: 100vh;
}

#songsTable thead tr {
    display:table;
}

.songName {
    width:50%;
    font-family: 'Lobster';
}

.songKey {
    width:25%;
    font-family: 'Lobster';
}
.songTime {
    width:25%;
    font-family: 'Lobster';
}

