#instrument_select_table {
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
}

.instrument_select_table_cell {
    border-radius: 2vh;
    background: black;
    background-position: left top;
    background-repeat: repeat;
    width: 20vw;
    height: 12vh;
    color: white;
}

.instrument_select_table_cell:hover {
    background: beige;
    color: black;
}
