#header {
    text-align: center;
    font-size: xx-large;
}

#_header {
    margin-bottom: 0;
    font-size: 100px;
}

#description {
    font-size: smaller;
    font-family: 'Lobster';
}

#welcome {
    font-size: smaller;
    font-family: 'Lobster';
    color: blueviolet;
}

