{% extends "layout.html" %}
{% block content %}
	<link rel="stylesheet" href="/build/account_view_style.css">
	<h1 id="account_info_header"><u>Account Info</u></h1>
	<table id="account_info">
		<tr>
			<td>
				Your Instrument:
			</td>
			<td>
				<div id="instrument_selection">
					<select id="instrument">
                        {% for instrument_key, instrument_value in selectable_instruments %}
                            {% if instrument_key == instrument %}
								<option value="{{ instrument_key }}" selected>{{instrument_value}}</option>
                            {% else %}
								<option value="{{ instrument_key }}">{{instrument_value}}</option>
                            {% endif %}
                        {% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				Membership Type:
			</td>
			<td>
				<div id="membership_selection">
					<select id="membership_type">
                    {% if is_premium %}
						<option value="Gold" selected>Gold</option>
                    {% else %}
						<option value="Gold">Gold</option>
						<option value="Free" selected>Free</option>
                    {% endif %}
					</select>
				</div>
			</td>
		</tr>
	</table>
	<script type="text/javascript" src="/build/account_view.js"></script>
{% endblock %}
