{% extends "demo_layout.html" %}
{% block content %}
    <div id="header">
        <header>
            <h1 id="_header">ReadMi</h1>
            <div id="sheet_sample"></div>
            <h2 id="description">An interactive sight reading tool that provides real-time feedback.<br><br><u>Try a demo:</u></h2>
        </header>
        <table id="instrument_select_table">
            <tr>
                <td class="instrument_select_table_cell" data-value="piano">Piano</td>
                <td class="instrument_select_table_cell" data-value="guitar">Guitar</td>
                <td class="instrument_select_table_cell" data-value="alto_saxophone">Alto<br>Saxophone</td>
            </tr>
            <tr>
                <td class="instrument_select_table_cell" data-value="soprano_saxophone">Soprano<br>Saxophone</td>
                <td class="instrument_select_table_cell" data-value="tenor_saxophone">Tenor<br>Saxophone</td>
                <td class="instrument_select_table_cell" data-value="french_horn">French<br>Horn</td>
            </tr>
            <tr>
                <td class="instrument_select_table_cell" data-value="trumpet">Trumpet</td>
                <td class="instrument_select_table_cell" data-value="clarinet">Clarinet</td>
                <td class="instrument_select_table_cell" data-value="bass_clarinet">Bass<br>Clarinet</td>
            </tr>
        </table>
        <button id="login" class="readmi_button" type="button">Login/Sign Up</button>
    </div>
    <script type="text/javascript" src="/build/landing.js"></script>
    <script type="text/javascript" src="/build/demo.js"></script>
{% endblock %}
