<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width">
<head>
	<script type="text/javascript">
		window._mNHandle = window._mNHandle || {};
		window._mNHandle.queue = window._mNHandle.queue || [];
		medianet_versionId = "3121199";
	</script>
	<script src="https://contextual.media.net/dmedianet.js?cid=8CUX2XX18" async="async"></script>
	<title></title>
</head>
<div class="all_content">
	<body>
	<div id="565928419">
		<script type="text/javascript">
			try {
				window._mNHandle.queue.push(function (){
					window._mNDetails.loadTag("565928419", "728x90", "565928419");
				});
			}
			catch (error) {}
		</script>
	</div>
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/build/demo_layout.css">
	<link rel="stylesheet" href="/build/layout_style.css">
	<link rel="stylesheet" href="/build/instrument_select.css">
	<link rel="stylesheet" href="/build/selectize_override.css">
	<link rel="stylesheet" href="/build/filterable_table.css">
	<link rel="stylesheet" href="/build/text.css">
	<div class="main_content">
		{% block content %}{% endblock %}
	</div>
	</body>
</div>
</html>
