<link rel="stylesheet" href="/build/feedback_style.css">
<div id="feedback-main">
	<div id="feedback-div">
		<form  class="form" id="feedback-form1" name="form1" enctype="multipart/form-data">

			<p class="text">
				<textarea class="validate[required,length[6,300]] feedback-input" id="feedback-comment" required placeholder="Enter any feedback you have here - it will be read!"></textarea>
			</p>

			<div class="feedback-submit" id="feedback-submit">
				<input type="submit" id="feedback-button-blue" />
				<div class="feedback-ease"></div>
			</div>
		</form>
	</div>
</div>

<button id="popup" class="feedback-button">Feedback</button>
<script type="text/javascript" src="/build/feedback.js"></script>
