<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<div class="all_content">
	<body>
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/build/demo_landing_style.css">
	<link rel="stylesheet" href="/build/demo_layout.css">
	<link rel="stylesheet" href="/build/instrument_select.css">
	<link rel="stylesheet" href="/build/selectize_override.css">
	<link rel="stylesheet" href="/build/filterable_table.css">
	<link rel="stylesheet" href="/build/text.css">
	<div class="main_content">
		<div id="header">
			<h1>What instrument do you play?</h1>
			<table id="instrument_select_table">
				<tr>
					<td class="instrument_select_table_cell" data-value="piano">Piano</td>
					<td class="instrument_select_table_cell" data-value="guitar">Guitar</td>
				</tr>
				<tr>
					<td class="instrument_select_table_cell" data-value="violin">Violin</td>
					<td class="instrument_select_table_cell" data-value="alto_saxophone">Alto Sax</td>
				</tr>
				<!--
				<tr>
					<td class="instrument_select_table_cell" data-value="soprano_saxophone">Soprano Saxophone</td>
					<td class="instrument_select_table_cell" data-value="tenor_saxophone">Tenor Saxophone</td>
					<td class="instrument_select_table_cell" data-value="alto_saxophone">Alto Saxophone</td>
				</tr>
				<tr>
					<td class="instrument_select_table_cell" data-value="trumpet">Trumpet</td>
					<td class="instrument_select_table_cell" data-value="clarinet">Clarinet</td>
					<td class="instrument_select_table_cell" data-value="french_horn">French Horn</td>
				</tr>
				-->
			</table>
		</div>
	</div>
	</body>
	<script type="text/javascript" src="/build/layout.js"></script>
	<script type="text/javascript" src="/build/instrument_select_action.js"></script>
</div>
</html>
