{% extends "layout.html" %}

{% block content %}
    <div id="header">
        <header>
            <h1 id="_header">ReadMi</h1>
            <div id="sheet_sample"></div>
            <h2 id="description">An interactive sight reading tool that provides real-time feedback.</h2>
        </header>
    </div>
{% endblock %}
