{% extends "layout.html" %}
{% block content %}
    <div id="header">
        <header>
           <h2>Thank you for your purchase!</h2>
           You now have access to Gold content.<br> If you have any questions please reach email <u>readmimusic@gmail.com</u>.
        </header>
    </div>
{% endblock %}
