{% extends "demo_layout.html" %}
{% block content %}
    <link rel="stylesheet" href="/build/login_style.css">
    <div class="login-page">
        <div class="form">
            <h1 id="_header">ReadMi Password Reset</h1>
            <h2>{{ email }}</h2>
            <form class="reset-password">
                <input id="new_password" type="text" placeholder="enter your new password" maxlength="20"/>
                <button id="submit_new_password" class="readmi_button">submit</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
		var token = '{{token}}';
    </script>
    <script type="text/javascript" src="/build/reset_password.js"></script>
{% endblock %}
