{% extends "layout.html" %}

{% block content %}
    <p>Choose a song!</p>

    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Key</th>
        </tr>
        {% for s in songs %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.key_signature }}</td>
            </tr>
        {% endfor %}
    </table>

    <ul>
    </ul>

{% endblock %}
