{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="/build/songs.css">
    <link rel="stylesheet" href="/build/filterable_table.css">
    <h1 id="header">ReadMi</h1>
    <table id="myTable">
        <thead>
        <tr>
            <th>
                <input class="filter" id="songsFilter" type="text" placeholder="Search for songs..">
            </th>
        </tr>
        </thead>
        <tbody>
        {% for s in songs %}
            <tr>
                <td>{{ s.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="/build/filter_table.js"></script>
{% endblock %}
