{% extends "songs.html" %}

{% block content %}
    <p>Choose a song!</p>

    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Key</th>
        </tr>
        {% for s in songs %}
            <tr>
                <th>{{ s.name }}</th>
                <th>{{ s.key }}</th>
            </tr>
        {% endfor %}
    </table>

    <ul>
    </ul>

{% endblock %}
