<link rel="stylesheet" href="/build/songs.css">
<link rel="manifest" href="manifest.json">
<a href="/" id="home_button" class="conv_button">ReadMi</a>
<div id="header"></div>
<div id="timer_countdown"></div>
<div id="menu_div">
	<table id="menu">
		<tr>
			<td id="checkbox-cell">
				<input id="metronome-controller" type="checkbox" checked>Metronome
			</td>
			<td id="pause-cell" rowspan="3">
				<div class="pause-controller">
					<input type="checkbox" value="None" id="pause-controller" name="check" />
					<label id="pause-controller-label" for="pause-controller" tabindex=1></label>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<input id="note-hinter-controller" type="checkbox" checked>Hint Notes
			</td>
		</tr>
		<tr>
			<td>
				<input id="song-player-controller" type="checkbox">Play Notes
			</td>
		</tr>
	</table>
</div>
<div id="note_hint_div"><text id="note_hint">Next Note: C5</text></div>
<div id="boo">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	var name = '{{s.name}}';
	var beatValue = {{s.beat_value}};
	var beatsPerMeasure = {{ s.beats_per_measure }};
	var keySignature = '{{s.key_signature}}';
	var bars = {{bars|raw}};
	var instrument = '{{ instrument }}';
	var isDemo = '{{ is_demo }}';
	var songId = '{{ song_id }}';
	var bpmRequirement = '{{ bpm_requirement }}';
</script>
<script type="text/javascript" src="/build/test.js"></script>
