RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]


# rewrite to www.
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?readmimusic\.com
RewriteRule ^(.*)$ https://www.readmimusic.com/$1 [R,L]
